name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - name: Install dependencies
      run: flutter pub get

    - name: Build web
      run: flutter build web --release --verbose

    - name: Deploy to GitHub Pages
      run: |
        cd build/web
        git init
        git config user.email "rodrigo.pequeno6@gmail.com"
        git config user.name "rodrigopequeno"
        git config init.defaultBranch master
        git status
        git remote add origin https://${{secrets.commit_secret}}@github.com/rodrigopequeno/rodrigopequeno.github.io.git
        git add --all
        git commit -m "chore: update portfolio build from ${{ github.ref_name }}"
        git push origin master -f
